################################################################################
# This .gitignore file was created by Chathuranga Basnayake
################################################################################

# Common

/.vs
/.vscode
*/.idea

# Exclude log files

/.logs/main

# Backend Projects

*/bin
*/obj

# Frontend Projects

*/node_modules