################################################################################
# This .gitignore file was created by Chathuranga Basnayake
################################################################################

/.vs
*/bin
*/obj
/.vscode
